body {
    font-family: "Gill Sans", sans-serif;
    color: #111;
}

.container {
    width: 900px;
    margin: 20px auto 0;
    padding: 20px;
}

.login {
    margin: 200px auto 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.login-toast {
    color: #c00;
}

.login form {
    margin: 0 auto;
}

.login p {
    display: block;
    margin: 7px 0;
}

.login label {
    min-width: 120px;
    display: inline-block;
    padding: 0 10px;
}

.post {
    display: flex;
    flex-direction: column;
}

.post a {
    font-family: "Courier New", monospace;
    font-size: 14px;
}

.post-description {
    margin: 10px 0px;
    overflow: scroll;
    min-height: 100px;
    max-height: 300px;
}

.post-tags {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    height: 30px;
}

.post-tag {
    margin: 0 5px;
    padding: 1px 5px;
    color: #333;
    background-color: #ddd;
    border-radius: 4px;
}

.post-tag button {
    font-size: 1em;
    color: #f40;
    padding: 2px;
    background-color: inherit;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

.post-controls {
    padding: 10px;
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
}

.post-controls button {
    border: none;
    font-weight: bold;
    font-size: 14px;
    font-family: verdana;
    display: inline-block;
    background-color: #01dbff;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0 10px;
}

.hotkeys-help {
    padding: 0px 7px;
    color: #666;
    margin-top: 20px;
}

.hotkeys-help h3 {
    font-family: monospace;
    margin: 3px 0;
}

.hotkeys-help ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

.tagger-header {
    display: flex;
    justify-content: space-between;
}

.tagger-toast {
    color: #c00;
    padding: 10px;
}
