body {
    font-family: helvetica;
    color: #070;
}

.container {
    width: 900px;
    margin: 20px auto 0;
    padding: 20px;
    height: 600px;
}

.login {
    margin: 200px auto;
    text-align: center;
}

.login-toast {
    color: #c00;
}

.login form {
    display: table;
    margin: 0 auto;
}

.login p {
    display: table-row;
}

.login label {
    display: table-cell;
    text-align: right;
}

.login input {
    display: table-cell;
}

.post-description {
    padding: 10px;
    margin: 10px 0px;
}

.post-tag {
    margin: 10px;
    padding: 8px 16px;
    color: #ddd;
    background-color: #777;
}

.post-controls {
    padding: 10px;
}

.post-controls button {
    border: none;
    display: inline-block;
    background-color: #009688;
    vertical-align: middle;
    padding: 8px 16px;
    margin: 0 10px;
}
